body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #6a4c93;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px 15px;
}

nav ul li a {
    text-decoration: none;
    color: #6a4c93;
    background-color: #f4f4f9;
    padding: 10px 20px;
    border: 2px solid #6a4c93;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #6a4c93;
    color: white;
}

nav ul li a:active {
    background-color: #5a3a7a;
    color: white;
}
#logo {
    position: absolute;
    top: 13px;
    left: 13px;
    width: 80px; 
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

footer p {
    margin: 5px 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #6a4c93;
    text-decoration: none;
    font-weight: bold;
}

footer ul li a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.recipe {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    text-align: left; 
}

.recipe h2 {
    margin-top: 0;
    color: #ff6f61;
}

.recipe img {
    max-width: 50%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.recipe h3 {
    margin-bottom: 10px;
    color: #333;
}

.recipe ul, .recipe ol {
    padding-left: 20px;
    margin-bottom: 20px;
}

.recipe ul {
    list-style-type: disc;
}

.recipe ol {
    list-style-type: decimal;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container form {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px; 
    outline: none;
}

.search-container button {
    padding: 8px 12px;
    border: none;
    background-color: #ae4dccb9; 
    color: white;
    border-radius: 0 4px 4px 0; 
    cursor: pointer;
    outline: none;
}

.search-container button:hover {
    background-color: #ae4dcc; 
}


main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
}




main h2 {
    color: #3379c4; 
}

main p {
    font-size: 1em;
    line-height: 1.6;
    color: #555;
}

main section.highlight {
    background-color: #e4afe6; 
}

.alert {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #d4d4d4;
    background-color: #ffefef; 
    color: #d9534f; 
    border-radius: 4px;
}


#btnBackToTop {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 20px;
    background-color: #1677e7;
    color: white;
    border: none;
    border-radius: 50%; 
    font-size: 24px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#btnBackToTop:hover {
    background-color: #8546d6; 
}
.lista-estilizada {
    list-style-type: none;
    padding: 0;
}

.lista-estilizada li {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.lista-estilizada li:hover {
    background-color: #45a049;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe img {
    max-width: 100%;
    border-radius: 5px;
}

.recipe h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.recipe h3 {
    font-size: 20px;
    color: #666;
    margin-bottom: 10px;
}

.recipe ul, .recipe ol {
    padding-left: 20px;
}

.recipe li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.recipe ol li::marker {
    font-weight: bold;
    color: #e91e63; /* Cambia el color del marcador */
}

center {
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .recipe {
        padding: 15px;
    }

    .recipe h2 {
        font-size: 20px;
    }

    .recipe h3 {
        font-size: 18px;
    }

    .recipe ul, .recipe ol {
        padding-left: 15px;
    }

    .recipe li {
        font-size: 14px;
    }
    
}

.facebook {

    left: 50px;
    width: 50px; 
    height: 50px;
  
  }
  .x {
  
    left: 33px;
    width: 33px; 
    height: 33px;
  
  }
  
  .instagram {
  
    left: 50px;
    width: 50px; 
    height: 50px;
  
  }